.purchase {
  border: 1px solid lightgray;
  border-radius: 4px;
  overflow: hidden;
  margin: 6px;
  &-item {
    display: flex;
    padding: 8px;
    align-content: center;
    justify-content: center;
    background-color: #eaeaea;
    &__image {
      flex: 1;
      img {
        height: 36px;
        border: 1px solid darkgray;
        border-radius: 4px;
      }
    }
    &__quantity {
      flex: 1;
    }
    &__price {
      flex: 1;
    }
  }
}

.cart-value {
  display: flex;
  border-radius: 4px;
  font-size: 20px;
  padding: 20px 5px;
  background-color: #b2d4ea;
  margin: 0 6px;
  &__label {
    flex: 2;
    padding-left: 35px;
  }
  &__amount {
    flex: 1;
  }
}

.remove {
  display: none;
  cursor: pointer;
  float: right;
  color: #fff;
  background-color: #434343;
  border-color: #000;
  border-radius: 0;
  padding: 10px 25px;
  font-size: 16px;
  margin: 10px;
}
