.Cart {
  flex: 1 1 40%;
  margin: 12px;
  padding: 12px;
  background: #cfd8dc;
  border-radius: 4px;
}

.CartTotal {
  margin-bottom: 12px;
}

.CartProduct {
  font-size: 12px;
  padding: 4px;
  background: #ffecb3;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.CartProduct > * {
  padding: 2px;
}

.CartProductPrice {
  font-weight: bold;
}
